# Ignore Terraform files
.terraform/

# Ignore node_modules (if you’re using Node.js)
node_modules/

# Ignore log files
*.log

# Ignore Dockerfiles
Dockerfile

# Ignore environment variable files (Optional)
.env

# Ignore terraform provider files
infra/.terraform/providers/

