# Ignore Terraform files
.terraform/

# Ignore Terraform provider files
infra/.terraform/

# Ignore Node modules (if you’re using Node.js)
node_modules/

# Ignore environment variable files (Optional)
.env

# Ignore logs
*.log
